.sign-up-header {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 40px;
    margin-bottom: 30px;
}

header {
    color: white;
    padding: 10px 15px 15px 15px;
    position: relative;
  }

.header-subtext {
    font-size: 1.5em;
    font-weight: 100;
    margin: 0;
    margin-bottom: 10px;
}


@media (max-width: 750px) {

    #hashtag-shoppies {
        float: left;
        width: 40%;
        margin-left: 20px;
      }
      

    .header-subtext{
        font-size: 1.3rem;
    }

}